body{
  background: violet;
  margin: 75px;
  font-family: fantasy;
}

.mypara{
  color: brown;
  font-family:fantasy;
  font-size: 20px
}

.myheading{
  color: maroon;
  font-family:fantasy;
  font-size: 40px
}

.mypara2{
  color: brown;
  font-family:fantasy;
  font-size: 20px
}

.mylist{
  color: brown;
  font-family:fantasy;
  font-size: 15px
}
