body{
  background:#ffccbc;
}

.nav-wrapper{
  background: #b71c1c;
}
.brand-logo{
  margin-left:25px;
}

.card-title{
  color: maroon;
  font-family:fantasy;
  font-size: 22px
}

.mypara1{
  color: brown;
  font-family: cursive;
  font-size: 18px
}

.mypara2{
  color: brown;
  font-family: cursive;
  font-size: 18px
}

.mypara3{
  color: brown;
  font-family: cursive;
  font-size: 16px
  margin-left:50px
}


.card{
  margin-top: 20px
}



#map {height: 360px; }
